<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!--Product Components-->
    <ComponentGroup Id="ProductComponents">

      <!--Test file-->
      <!--<ComponentRef Id="TestFile"  />-->

    </ComponentGroup>

    <!--Inastalled files-->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\ProjectDreamland\bin\$(var.Configuration)\net6.0\win-$(var.Platform)\publish\">
      
      <!--<Component Id="TestFile" Guid="{65EDAC9B-3848-4CF0-9AEA-0AAA695B3ED1}">
        
        <File Id="FileTestFile" Name="api-ms-win-core-console-l1-1-0.dll" KeyPath="yes" />

        --><!--Remove Start Mneu items--><!--
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
        
      </Component>-->
      
    </DirectoryRef>
    
  </Fragment>
  

</Wix>
