<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!--Product Components-->
    <ComponentGroup Id="ProductComponents">

      <!--Shortcut-->
      <ComponentRef Id="MainAppShortcut"  />

    </ComponentGroup>

    <!--Inastalled files-->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\ProjectDreamland\bin\$(var.Configuration)\net6.0\win-$(var.Platform)\publish\">
      
      <!--Shortcut to main application-->
      <Component Id="MainAppShortcut" Guid="{65EDAC9B-3848-4CF0-9AEA-0AAA695B3ED1}">

        <Shortcut 
          Id="MainAppShortcut" 
          Name="Project Dreamland" 
          Target="[INSTALLFOLDER]ProjectDreamland.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico"
          />

        <!--Our unique key for this short cut-->
        <RegistryValue 
          Id="RegShortcutKey" 
          Root="HKCU" 
          Key="SOFTWARE\!(loc.ProductFolderName)"
          Name="Shortcut" 
          Value="1"
          Type="integer"
          KeyPath="yes"
        />

        <!--Remove Start Mneu items-->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
        
      </Component>
      
    </DirectoryRef>
    
  </Fragment>
  

</Wix>
