<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!--<CustomAction
      Id="DotnetSDKDependency"
      Directory="INSTALLFOLDER"
      ExeCommand="NOTEPAD.exe asd.txt"
      Execute="immediate"
      Return="ignore"
    />
    <CustomAction
      Id="MonogameDependency"  
      Directory="INSTALLFOLDER"
      ExeCommand="NOTEPAD.exe dsa.txt"
      Execute="immediate"
      Return="asyncWait"
    />-->

  </Fragment>
</Wix>
